 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: bisque;
}
.container{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 100vh;
     
}

.grid-container{
 
    display: flex;
    flex-direction: column;
    font-size: 17px;
    
    
}
 .form{
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: beige;
    margin: 0 auto;  
    padding: 20px;
    border-radius: 5px;

 }
input 
{
    width: 100%;
    padding: 8px;  
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
}
h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);


}

button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
    font-size: 17px;
    /* Add space between password field and button */
}

button:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    margin-top: 12px;
    text-align: center;
    font-size: 17px;
}

.error {
    color: #ff0000;
    font-size: 16px;
    display: block;
   padding-bottom: 10px;
}

 
 